# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment / secret files
.env
*.env

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log

# Power BI temporary files
*.pbix.autosave
~$*.pbix

# SQL Server / database backups
*.bak
*.mdf
*.ldf

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store